

<% if @passa_parametres == true %>
<h5 class="alert alert-warning">
	Per poder editar aquesta ruta turística primer has de superar aquest qüestionari de control.
</h5>
<%= form_for @uq, url: {controller: "usuari_questionaris", action: "create"} do |uq| %>
	
	<%= uq.fields_for :questionari do |q| %>

	
		<ol>	
			<%= q.fields_for :preguntas do |preg| %>
				<li style="margin-bottom:20px;">
					<ul style="list-style-type:none;">
					<%= preg.label return_value_of_symbol(preg, :text) %>
					<%= preg.fields_for :respostas do |resp| %>
						<li style="margin-left:40px;">
							<%= resp.hidden_field :correcta %> <%#= a values hi tinc t o f %>
							<%= radio_button_tag "contestacions["+preg.object.id.to_s+"]", resp.object.id %>
							<%= resp.label return_value_of_symbol(resp, :text) %>
						</li>
					<% end %>
				</ul>
			</li>
					
			<% end %>
		</ol>
	<% end %>
	
	<%= uq.submit "Enviar per correcció" %>

<% end %>
<% else %>
<h5 class="alert alert-danger">
No compleixes les condicions necessàries per a poder editar aquesta ruta turística.
<!--(llistar paràmetres)-->
</h5>

<% end %>

