  <% if flash[:notice] %>
    <div style="margin-top:30px" class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>

  <h2>Inicia sessió</h2>

  <%= form_tag sessions_path do %>
  <div>
    <%= label_tag :nom_usuari, nil, class: 'titol_camp' %>
    <%= text_field_tag :nom_usuari, params[:nom_usuari], class: 'contingut_camp' %>
  </div>
  <div>
    <%= label_tag :password, nil, class: 'titol_camp' %>
    <%= password_field_tag :password, nil, class: 'contingut_camp'%>
  </div>
  <div>
    <%= submit_tag "Entra", class: 'contingut_camp_boto2' %>
  </div>
  <%#= TODO link a enregistrar-se%>
<% end %>