  <% if flash[:notice] %>
    <div style="margin-top:30px" class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>
<div style="margin-top:50px"></div>
  <h4>Inicia sessió</h4>

  <%= form_tag sessions_path do %>
  <div>
    <%= label_tag :nom_usuari, nil, class: 'titol_camp' %>
    <%= text_field_tag :nom_usuari, params[:nom_usuari], class: 'contingut_camp' %>
  </div>
  <div>
    <%= label_tag :password, nil, class: 'titol_camp' %>
    <%= password_field_tag :password, nil, class: 'contingut_camp'%>
  </div>
  <div>
    <%= submit_tag "Entra", class: 'contingut_camp_boto2' %>
  </div>
  <%#= TODO link a enregistrar-se%>
<% end %>

<hr>

<p> Si et vas registrar a través d'alguna d'aquestes xarxes socials, inicia sessió aquí:</p>
<div id="user_nav">  
  <%= link_to "/auth/facebook", :class => "btn btn-primary" do %>
    <i class="fa fa-facebook"></i>  Inicia sessió amb Facebook
  <% end %> &nbsp
  <%= link_to "/auth/twitter", :class => "btn btn-info" do %>
    <i class="fa fa-twitter"></i>  Inicia sessió amb Twitter
  <% end %>  &nbsp
  <%= link_to "/auth/gplus", :class => "btn btn-danger" do %>
    <i class="fa fa-google-plus"></i>  Inicia sessió amb Google+
  <% end %> 
</div>