<h5 style="background:#fffeeb;border-style:solid; border-width:1px; border-color:#fff2c6; color:#b28b00; padding:15px;" style="padding:10px;">Editant</h5>
<!--class="alert alert-warning"-->
<h3> Punt d'interès: <%= @pdi.nom %> </h3>


<%= hidden_field_tag :accio, "editant" %>

  <%= form_for @pdi, url: {controller: "pdis", action: "update"} do |p| %>
		<%= hidden_field_tag :tipus, @pdi.type %>
	
	<div id="map-canvas" style="margin-bottom:20px;"> </div>


	<div>
		<%= label_tag(:etiquetes, "Afegeix etiquetes:") %>	
		<%= text_field_tag(:etiquetes, @etiquetes) %>
	</div>

	<div>
		<%= p.label :nom, :class=>"titol_camp_width"  %>	
		<%= p.text_field :nom, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:nom].first %>
		</div>
	</div>


	<div>
		<%= p.label :telefon, "Telèfon", :class=>"titol_camp_width" %>	
		<%= p.text_field :telefon, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:telefon].first %>
		</div>
	</div>

	<div>
		<%= p.label :web, :class=>"titol_camp_width" %>	
		<%= p.text_field :web, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:web].first %>
		</div>
	</div>

	<div>
		<%= p.label :preu_aprox, "Preu aproximat", :class=>"titol_camp_width" %>	
		<%= p.text_field :preu_aprox, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:preu_aprox].first %>
		</div>
	</div>

	
	<div>
		<%= p.label :adreca, "Adreça", :class=>"titol_camp_width" %>	
		<%= p.text_field :adreca, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:adreca].first %>
		</div>
	</div>

	<div>
		<%= p.label :codi_postal, :class=>"titol_camp_width" %>	
		<%= p.text_field :codi_postal, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:codi_postal].first %>
		</div>
	</div>

	<div>
		<%= p.label :localitat, :class=>"titol_camp_width" %>	
		<%= p.text_field :localitat, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:localitat].first %>
		</div>
	</div>

	<div>
		<%= p.label :pais, :class=>"titol_camp_width" %>	
		<%= p.text_field :pais, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:pais].first %>
		</div>
	</div>

	<%= p.hidden_field :coord_lat %>
	<%= p.hidden_field :coord_lng %>
	<%= p.hidden_field :place_reference %>

<% if @pdi.type == "Restaurant" %>
	<div>
		<%= p.label :forquilles %>
		<%#= p.text_field :etiqueta %>
		<div>
			<%#= @pdi.errors[:etiqueta].first %>
		</div>
	</div>

<% end %>
	

	<% if @pdi.type == "Hotel" %>
	<div>
		<%= p.label :estrelles %>
		<%#= p.text_field :etiqueta %>
		<div>
			<%#= @pdi.errors[:etiqueta].first %>
		</div>
	</div>

<% end %>
	<%= p.submit "Guardar", {:style=>"margin-top:30px; margin-left:165px; padding:10px; width:280px; padding-bottom:25px;"} %>

  <% end %>


