


<h3><i class="fa fa-map-marker"></i> Crea un nou punt d'interès</h3>

<% if @pdi.nil? %>
<%= form_tag('/pdis/new', method: :get) do %>
<%#= form_tag('/pdis/new', method: :get, id: 'tagid') do %>
  <div id="ph_1" class="colorejat">
<h5>1. Selecciona quin tipus de punt d'interès vols crear.</h5>
	<div>
		<% tipus_pdi_array = [['Restaurant'], ['Botiga'], ['Museu'], ['Monument'], ['Discoteca'], ['Entreteniment'], ['Hotel'], ['Vista']] %>
		
		<%= select_tag(:tipus_pdi, options_for_select(tipus_pdi_array), :class => "form-control", :style => "width:150px; display:initial;", :selected => @tipus_valor) %>
		<%= submit_tag "Selecciona" %>
	</div>
</div>
<% end %>
<% end %>

<% if @pdi %>
<% if @pdi.errors[:nom].first %>
	<div style="margin-top:30px" class="alert alert-danger">
		<%= @pdi.errors[:nom].first %>
	</div>
<% end %>

<%= hidden_field_tag :accio, "creant" %>
  <%= form_for @pdi, url: {controller: "pdis", action: "create"} do |p| %>
	
	<%= hidden_field_tag :tipus, @tipus_valor %>
 <div id="ph_1b" class="allunyat">
	<h5>1. Estàs creant un punt d'interès: <b><%= @tipus_valor %></b> <small><%= link_to 'Canvia-ho', controller: "pdis", action: "new", :class => "glyphicon glyphicon-arrow-left" %></small></h5> 
	<%= if @tipus_valor == "Botiga" 
		select_tag :classe_botiga, options_from_collection_for_select(@classes_botigues, "id", "nom"), :class => "form-control", :style => "width: 200px;"
		
		elsif @tipus_valor == "Entreteniment"
			
			select_tag :classe_entreteniment, options_from_collection_for_select(@classes_entreteniment, "id", "nom"), :class => "form-control", :style => "width: 200px;"
		
		elsif @tipus_valor == "Museu"
			select_tag :classe_museu, options_from_collection_for_select(@classes_museus, "id", "nom"), :class => "form-control", :style => "width: 200px;"
	
		elsif @tipus_valor == "Restaurant"
			select_tag :classe_restaurant, options_from_collection_for_select(@classes_restaurants, "id", "nom"), :class => "form-control", :style => "width: 200px;"
	 end %>
</div>
	 
	<div id="ph_2" class="allunyat colorejat">
	<h5>2. Busca el punt d'interès en qüestió.</h5>
	<%# BEGIN Codi mapa + input autocomplete(pac-input) %>
	<input id="pac-input" class="controls" type="text"
        placeholder="Introdueix una localització" autofocus>
   
		<div style="color:red;">
			<%= @pdi.errors[:coord_lat].first %>
		</div>

	<div id="map-canvas"> </div>
	<%# END Codi mapa + input autocomplete(pac-input) %>
</div>
	<div>
		  <div id="ph_3" class="allunyat">
		<h5>3. Introdueix etiquetes per descriure'l. <small>Separa-les amb comes o apretant la tecla tab.</small></h5>
		<div id="div_etiquetes">
		<%= text_field_tag(:etiquetes) %></div>
	</div>
</div>
 <div id="ph_4">
 <h5>4. Ja casi estàs! Revisa la informació i modifica-la si ho creus necessari.</h5>

	<div>
		<%= p.label :nom, :class=>"titol_camp_esq" %>	
		<%= p.text_field :nom, :class=>"textbox_linia" %>
		<div>
			<%= @pdi.errors[:nom].first %>
		</div>
	</div>


	<div>
		<%= p.label :telefon, :class=>"titol_camp_esq" %>	
		<%= p.text_field :telefon, :class=>"textbox_linia"  %>
		<div>
			<%= @pdi.errors[:telefon].first %>
		</div>
	</div>

	<div>
		<%= p.label :web, :class=>"titol_camp_esq" %>	
		<%= p.text_field :web, :class=>"textbox_linia"  %>
		<div>
			<%= @pdi.errors[:web].first %>
		</div>
	</div>

	<div>
		<%= p.label :preu_aprox, :class=>"titol_camp_esq" %>
		<%= p.text_field :preu_aprox, :class=>"textbox_linia"  %>
		<div>
			<%= @pdi.errors[:preu_aprox].first %>
		</div>
	</div>


	<div>
		<%= p.label :horari, "horari_hidden", :class=>"titol_camp_esq" %>
		<%= p.text_field :horari, :class=>"textbox_linia" %>
	</div>

	<div>
		<%= p.label :fotos_petites, "fotos_hidden", :class=>"titol_camp_esq" %>
		<%= p.text_field :fotos_petites, :class=>"textbox_linia" %>
	</div>

	<div>
		<%= p.label :fotos_grans, "fotos_hidden", :class=>"titol_camp_esq" %>
		<%= p.text_field :fotos_grans, :class=>"textbox_linia" %>
	</div>

	<div>
		<%= p.label :icone, "icone_hidden", :class=>"titol_camp_esq" %>
		<%= p.text_field :icone, :class=>"textbox_linia" %>
	</div>

	<div>
		<%= p.label :place_reference, "place_reference_hidden", :class=>"titol_camp_esq" %>
		<%= p.text_field :place_reference, :class=>"textbox_linia" %>
	</div>

		<%= p.hidden_field :nivell_preu  %>


<h6> Localització </h6>
	
	<div>
		<%= p.label :adreca, :class=>"titol_camp_esq" %>	
		<%= p.text_field :adreca, :class=>"textbox_linia"  %>
	</div>

	<div>
		<%= p.label :codi_postal, :class=>"titol_camp_esq" %>	
		<%= p.text_field :codi_postal, :class=>"textbox_linia"  %>
	</div>

	<div>
		<%= p.label :localitat, :class=>"titol_camp_esq" %>	
		<%= p.text_field :localitat, :class=>"textbox_linia"  %>
	</div>

	<div>
		<%= p.label :pais, :class=>"titol_camp_esq" %>	
		<%= p.text_field :pais, :class=>"textbox_linia"  %>
	</div>

	<%= p.text_field :coord_lat %>
	<%= p.text_field :coord_lng %>

<% if @tipus_valor == "Restaurant" %>
	<div>
		<%= p.label :forquilles %>
		<%#= p.text_field :etiqueta %>
		<div>
			<%#= @pdi.errors[:etiqueta].first %>
		</div>
	</div>
</div>
<% end %>
	

	<% if @tipus_valor == "Hotel" %>
	<div>
		<%= p.label :estrelles %>
		<%#= p.text_field :etiqueta %>
		<div>
			<%#= @pdi.errors[:etiqueta].first %>
		</div>
	</div>

<% end %>
	<%= p.submit "Guardar", {:style=>"margin-top:30px; margin-left:130px; padding:10px; width:280px; padding-bottom:25px;"} %>

  <% end %>

<% end %>

