<h1>Pdis#new</h1>
 

<%#= form_tag('/pdis/new', method: :get) do %>
<%= form_tag('/pdis/new', method: :get, id: 'tagid') do %>

	<div>
		<% tipus_pdi_array = [['Restaurant'], ['Botiga'], ['Museu'], ['Monument'], ['Discoteca'], ['Entreteniment'], ['Hotel'], ['Vista']] %>
		
		<%= select_tag(:tipus_pdi, options_for_select(tipus_pdi_array)) %>
	</div>
	<div><%= submit_tag "noelvull" %></div>
<% end %>


<% if @pdi %>
<%= hidden_field_tag :accio, "creant" %>
  <%= form_for @pdi, url: {controller: "pdis", action: "create"} do |p| %>
	<%= hidden_field_tag :tipus, @tipus_valor %>
	
	<%# BEGIN Codi mapa + input autocomplete(pac-input) %>
	<input id="pac-input" class="controls" type="text"
        placeholder="Marc, introdueix una localització">
   
	<div id="map-canvas"> </div>
	<%# END Codi mapa + input autocomplete(pac-input) %>

	<div>
		<%= label_tag(:etiquetes, "Afegeix etiquetes:") %>	
		<%= text_field_tag(:etiquetes) %>
	</div>

	<div>
		<%= p.label :nom %>	
		<%= p.text_field :nom %>
		<div>
			<%= @pdi.errors[:nom].first %>
		</div>
	</div>


	<div>
		<%= p.label :observacions %>	
		<%= p.text_field :observacions %>
		<div>
			<%= @pdi.errors[:observacions].first %>
		</div>
	</div>

	<div>
		<%= p.label :horari %>	
		<%= p.text_field :horari %>
		<div>
			<%= @pdi.errors[:horari].first %>
		</div>
	</div>

	<div>
		<%= p.label :telefon %>	
		<%= p.text_field :telefon %>
		<div>
			<%= @pdi.errors[:telefon].first %>
		</div>
	</div>

	<div>
		<%= p.label :web %>	
		<%= p.text_field :web %>
		<div>
			<%= @pdi.errors[:web].first %>
		</div>
	</div>

	<div>
		<%= p.label :preu_aprox %>	
		<%= p.text_field :preu_aprox %>
		<div>
			<%= @pdi.errors[:preu_aprox].first %>
		</div>
	</div>

	<div>
		<%= p.label :nivell_preu %>	
		<%= p.text_field :nivell_preu %>
		<div>
			<%= @pdi.errors[:nivell_preu].first %>
		</div>
	</div>

<h2> Camps localització </h2>
	
	<div>
		<%= p.label :adreca %>	
		<%= p.text_field :adreca %>
		<div>
			<%= @pdi.errors[:adreca].first %>
		</div>
	</div>

	<div>
		<%= p.label :codi_postal %>	
		<%= p.text_field :codi_postal %>
		<div>
			<%= @pdi.errors[:codi_postal].first %>
		</div>
	</div>

	<div>
		<%= p.label :localitat %>	
		<%= p.text_field :localitat %>
		<div>
			<%= @pdi.errors[:localitat].first %>
		</div>
	</div>

	<div>
		<%= p.label :pais %>	
		<%= p.text_field :pais %>
		<div>
			<%= @pdi.errors[:pais].first %>
		</div>
	</div>

	<%= p.text_field :coord_lat %>
	<%= p.text_field :coord_lng %>

<% if @tipus_valor == "Restaurant" %>
	<div>
		<%= p.label :forquilles %>
		<%#= p.text_field :etiqueta %>
		<div>
			<%#= @pdi.errors[:etiqueta].first %>
		</div>
	</div>

<% end %>
	

	<% if @tipus_valor == "Hotel" %>
	<div>
		<%= p.label :estrelles %>
		<%#= p.text_field :etiqueta %>
		<div>
			<%#= @pdi.errors[:etiqueta].first %>
		</div>
	</div>

<% end %>
	<%= p.submit "Guardar" %>

  <% end %>

<% end %>

