<script type="text/javascript">
// ho poso qui pq sino els PDIs creats a partir del link add_fields, no funcionen
$(function() {
      $(".text_autocomplete").autocomplete ({
      source: function( request, response ) {
        $.ajax({
           url: '/pdis',
           dataType: "json",
           data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            request_term: request.term
           }, // end data
          success: function( data ) {
            response( $.map( data, function( item ) {
              return {
              	id: item.id,
                label: item.nom,
                value: item.nom,
                lat: item.coord_lat,
                lng: item.coord_lng
              } // end return
            })); // end response
          } // end success
        }); // end ajax
      }, // end source
      select: function (event, ui) {
        // Per a cada select de l'autocomplete, es carrega el marker en el mapa
        var myLatlng = new google.maps.LatLng(ui.item.lat,ui.item.lng);
        var marker = new google.maps.Marker({
          position: myLatlng
        });
        marker.setMap(window.map);
        window.map.setCenter(marker.getPosition());
        window.map.setZoom(13);

        // omplo camps ocults (hidden) per tenir més info del model PDI
        var element = $(event.target);
        element.siblings("input[id$='id']").val(ui.item.id);
        element.siblings("input[id$='lat']").val(ui.item.lat);
        element.siblings("input[id$='lng']").val(ui.item.lng);
      }
    }); // end autocomplete
  }); // end function

/*$( ".provant" ).on( "autocompleteselect", function( a,b) {
	alert(b.item.id);
	$('#selected_pdi').val(b.item.id);
} );*/
</script>

<%#= ui-state-default ui-widget %>
<li class="fields" style="margin-bottom:15px;">
  <%= f.text_field :ordre, :class=>"estil_num_ordre" %>
  <%= f.fields_for :pdi do |p| %>
    <%= p.hidden_field :id %>
    <%= p.hidden_field :coord_lat %>
    <%= p.hidden_field :coord_lng %>
    <%= p.text_field :nom, class: "text_autocomplete contingut_camp_autocomplete"%>
    <%= p.hidden_field :_destroy %>
    <%= link_to_function "", "remove_fields(this)", :class=>"fa fa-times" %>
    <i class="fa fa-arrows-v" style="color: #e46033;"></i>
  <% end %>
</li>