<h1>RutaTuristicas#edit</h1>

<%= hidden_field_tag :accio, "editant_rt" %>

<%= form_for @rt, url: {controller: "ruta_turisticas", action: "update"} do |p| %>

	<div id="map-canvas"> </div>

	<div>
		<%= p.label :nom %>	
		<%= p.text_field :nom %>
		<div>
			<%= @rt.errors[:nom].first %>
		</div>
	</div>
	<div>
		<%= p.label :temps %>	
		<%= p.text_field :temps %>
		<div>
			<%= @rt.errors[:temps].first %>
		</div>
	</div>

			<ul id="sortable">
			<%= p.fields_for :pdis_rutaturisticas do |builder| %>
			  	<%#= builder.text_field :ordre %>
				<%= render 'pdis_rutaturistica_fields', :f => builder%>
			<% end %>
			<p>
				<%= link_to_add_fields "Add pdi", p, :pdis_rutaturisticas, :pdi %>
			</p>
	</ul>


		<p>

		</p>
	<%= p.submit "Guardar" %>


	
  <% end %>
