<h3><i class="fa fa-picture-o"></i> Crea una nova ruta turística</h3>

<%= hidden_field_tag :accio, "creant_rt" %>
<%= form_for @rt, url: {controller: "ruta_turisticas", action: "create"} do |p| %>

	<div id="map-canvas"> </div>
<div>
	<div>
		<%= p.label :nom, :style=>"width:50px;" %>	
		<%= p.text_field :nom, :class=>"contingut_camp", :style=>"width:384px;"  %>
		<div>
			<%= @rt.errors[:nom].first %>
		</div>
	</div>
	<div>
		<%= p.label :temps, :style=>"width:50px;"  %>	
		<%= p.text_field :temps, options = { :class=>"contingut_camp", :data => {:toggle=>"tooltip", :placement=>"right", :trigger=>"hover focus"}, :title=>"Afegeix el temps aproximat. Utilitza 'h' per expressar hores i 'd' per expressar dies."} %>
		<div>
			<%= @rt.errors[:temps].first %>
		</div>
	</div>

<h5>Afegeix tants punts d'interès com vulguis, i reordena'ls arrossegant-los.</h5>

	<ul id="sortable">
			<%= p.fields_for :pdis_rutaturisticas do |builder| %>
				<%= render 'pdis_rutaturistica_fields', :f => builder %>
			<% end %>
			
				<i class="fa fa-plus-circle" style="margin-left:35px; margin-top:15px;">
					<%= link_to_add_fields "Afegeix un altre punt d'interès", p, :pdis_rutaturisticas, :pdi %>
				</i>
			
	</ul>
</div>
	<%= p.submit "Següent", :style=>"margin-left:103px; margin-top:20px; width:200px;" %>


	
  <% end %>


