<h1>RutaTuristicas#new</h1>
<script>
		$(document).ready(function () {
			$("#datepicker").datepicker();
		});
	</script>
<%= form_for @rt, url: {controller: "ruta_turisticas", action: "create"} do |p| %>
	
	<%#= TODO posar markers al mapa cada cop que es fa una cerca exitosa de pdi%>
	<div id="map-canvas"> </div>

	<div>
		<%= p.label :nom %>	
		<%= p.text_field :nom %>
		<div>
			<%= @rt.errors[:nom].first %>
		</div>
	</div>
	<div>
		<%= p.label :temps %>	
		<%= p.text_field :temps %>
		<div>
			<%= @rt.errors[:temps].first %>
		</div>
	</div>

	<%= text_field_tag(:noupdi) %>

	<%#= @rt.pdis_rutaturisticas.each do |pdi_rt| %>
		<%#= p.fields_for :pdis_rutaturistica, pdi_rt.pdi do |builder| %>
		<ul id="sortable">
		<%= p.fields_for :pdis_rutaturisticas do |builder| %>
			<p>
					<%#= builder.label :pdi, "PDI: " %>
					<%#= builder.text_field :pdi, :rows => 3 %>
					<%#= TODO ha de ser autocomplete amb PDIS de la bd %>
					
					<%#= builder.label :pdi, "PDI: " %>
					<%#= builder.text_field :pdi, :rows => 3 %>
			</p>
			
				<%#= render :partial => 'pdis_rutaturistica_fields', :f => builder, :locals => {:nompdi => 'holanom'} %>
				<%= render(:partial => 'pdis_rutaturistica_fields', :locals => {:nompdi => 'holanom', :f => builder}) %>
			
		<%#= end %>
	<% end %>

	
	<p><%= link_to_add_fields "Add pdi", p, :pdis_rutaturisticas %></p>
</ul>
	<%= p.submit "Guardar" %>

  <% end %>
