<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Rutes turístiques</a></li>
  <li class="active"> <%= @rt.nom %> </li>
</ol>

<h2> 
	<i class="fa fa-picture-o"></i> 
	<%= @rt.nom %> 
	<% if @rt.punts.nil? %>
		<small style="float:right; margin-top:15px; color:darkorange;">-</small>
	<% else %>
		<small style="float:right; margin-top:15px; color:darkorange;"><i class="fa fa-trophy" style="padding-right:5px;"></i><%= '%.1f' % @rt.punts %></small>
	<% end %>
</h2>

<%= hidden_field_tag :accio, "editant_rt" %>

<div id="map-canvas"> </div>

<div> 
	<%= link_to 'Edita', edit_ruta_turistica_path(@rt), :class => "edita_ruta fa fa-pencil-square-o" %>
	Creat per <%= @rt.usuari.nom_usuari %> - <%= @rt.created_at %>
	Última modificació: <%= @rt.usuari_modificador.nom_usuari %> - <%= @rt.updated_at %>
</div>

<i class="fa fa-clock-o"></i>
<%= label_tag @rt.temps %>
		
<ol>
	<% @rt.pdis_rutaturisticas.each do |prt| %>
		<li>
			<%= link_to prt.pdi.nom, pdi_path(prt.pdi) %>
			<%= hidden_field_tag :coord_lat, prt.pdi.coord_lat %>
    		<%= hidden_field_tag :coord_lng, prt.pdi.coord_lng %>
		</li>
	<% end %>
</ol>


<div style="background:#f3f2f4; padding:15px;">
<h2>
	<i class="fa fa-comment"></i> Valoracions

	<small><small><%= link_to "Afegeix una nova valoració", {:controller => "valoracios", :action => "new", :ruta_turistica_id => @rt.id}, :method => :get %></small></small>

</h2>
<%= render 'valoracios/index' %>

</div>