<h5 style="background:#fffeeb;border-style:solid; border-width:1px; border-color:#fff2c6; color:#b28b00; padding:15px;" style="padding:10px;">Edita les teves dades personals</h5>


<%= form_for @usuari, url: {controller: "usuaris", action: "update"}, :class=>"form-horizontal" do |u| %>
<% pais_array = [['Espanya',1], ['París', 2]] %>
	<div class="control-group, <%= @usuari.errors[:nom_usuari].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :nom_usuari, :class=>"titol_camp" %>	
		<%= u.text_field :nom_usuari, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:nom_usuari].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:email].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :email, :class=>"titol_camp" %>	
		<%= u.email_field :email, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:email].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password, :class=>"titol_camp" %>	
		<%= u.password_field :password, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password_confirmation].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password_confirmation, :class=>"titol_camp" %>	
		<%= u.password_field :password_confirmation, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password_confirmation].first %>
		</div>
	</div>

	<div>
		<%= u.label :nom, :class=>"titol_camp" %>	
		<%= u.text_field :nom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :cognom, :class=>"titol_camp" %>	
		<%= u.text_field :cognom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :edat, :class=>"titol_camp" %>	
		<%= u.number_field :edat, :class=>"contingut_camp" %>
	</div>
	<div>
		<%= u.label :pais_naixament, :class=>"titol_camp" %>	
		<%= u.select(:pais_naixament, options_for_select(pais_array), {}, {:class=>"contingut_camp"}) %>
	</div>

	<div>
		<%= u.label :pais_residencia, :class=>"titol_camp" %>	
		<%= u.select(:pais_residencia, options_for_select(pais_array), {}, {:class=>"contingut_camp"}) %>
	</div>
	<div>
		<%= u.label :sexe, :class=>"titol_camp" %>	
	<span class="contingut_camp_radio">
		<%= u.radio_button(:sexe, "Dona")%>
		<%= label_tag(:sexe, "Dona") %>
		<%= u.radio_button(:sexe, "Home") %>
		<%= label_tag(:sexe, "Home") %>
	</span>
	</div>



	<div>
		<%= u.submit "Guardar canvis", :class=>"contingut_camp_boto"  %>
	</div>

<% end %>


<%##= cities_array = City.all.map { |city| [city.name, city.id] } %>
<%#= options_for_select(cities_array) %>
    