
<div style="margin-top:30px"></div>

<h5>Només has d'omplir aquest senzill formulari per enregistrar-te i poder començar a crear contingut, editar i valorar.</h5>



<%= form_for @usuari, :class=>"form-horizontal" do |u| %>
	<div class="control-group, <%= @usuari.errors[:nom_usuari].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :nom_usuari, :class=>"titol_camp" %>	
		<%= u.text_field :nom_usuari, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:nom_usuari].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:email].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :email, :class=>"titol_camp" %>	
		<%= u.email_field :email, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:email].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password, :class=>"titol_camp" %>	
		<%= u.password_field :password, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password_confirmation].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password_confirmation, :class=>"titol_camp" %>	
		<%= u.password_field :password_confirmation, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password_confirmation].first %>
		</div>
	</div>

	<div>
		<%= u.label :nom, :class=>"titol_camp" %>	
		<%= u.text_field :nom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :cognom, :class=>"titol_camp" %>	
		<%= u.text_field :cognom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :edat, :class=>"titol_camp" %>	
		<%= u.number_field :edat, :class=>"contingut_camp" %>
	</div>
	<div>
		<%= u.label "País naixament", :class=>"titol_camp" %>	
		<%= select_tag(:pais, options_from_collection_for_select(@paisos, "id", "nom"), {:class=>"contingut_camp"}) %>
	</div>

	<div>
		<%= label_tag :pais_residencia, "País residència", :class=>"titol_camp" %>	
		<%= select_tag(:pais_residencia, options_from_collection_for_select(@paisos, "id", "nom"), {:class=>"contingut_camp"}) %>
	</div>
	<div>
		<%= u.label :sexe, :class=>"titol_camp" %>	
	<span class="contingut_camp_radio">
		<%= u.radio_button(:sexe, "Dona")%>
		<%= label_tag(:sexe, "Dona") %>
		<%= u.radio_button(:sexe, "Home") %>
		<%= label_tag(:sexe, "Home") %>
	</span>
	</div>

	<%= u.hidden_field :coord_lat_browser %>
	<%= u.hidden_field :coord_lng_browser %>

	<div>
		<%= u.submit "Registra't", :class=>"contingut_camp_boto"  %>
	</div>

<% end %>

<hr>

<p> Si ho prefereixes pots registrar-se a través d'alguna d'aquestes xarxes socials:</p>
<div id="user_nav">  
  <%= link_to "/auth/facebook", :class => "btn btn-primary" do %>
  	<i class="fa fa-facebook"></i>  Enregistra't amb Facebook
  <% end %> &nbsp
  <%= link_to "/auth/twitter", :class => "btn btn-info" do %>
  	<i class="fa fa-twitter"></i>  Enregistra't amb Twitter
  <% end %> &nbsp
  <%= link_to "/auth/gplus", :class => "btn btn-danger" do %>
  	<i class="fa fa-google-plus"></i>  Enregistra't amb Google+
  <% end %> 
</div>
<%##= cities_array = City.all.map { |city| [city.name, city.id] } %>
<%#= options_for_select(cities_array) %>
    