<h2>Enregistra't!</h2>

<%= form_for @usuari do |u| %>
	<div class="<%= @usuari.errors[:nom_usuari].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :nom_usuari, :class=>"titol_camp" %>	
		<%= u.text_field :nom_usuari, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:nom_usuari].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:email].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :email, :class=>"titol_camp" %>	
		<%= u.email_field :email, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:email].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password, :class=>"titol_camp" %>	
		<%= u.password_field :password, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password_confirmation].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password_confirmation, :class=>"titol_camp" %>	
		<%= u.password_field :password_confirmation, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password_confirmation].first %>
		</div>
	</div>

	<div>
		<%= u.label :nom, :class=>"titol_camp" %>	
		<%= u.text_field :nom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :cognom, :class=>"titol_camp" %>	
		<%= u.text_field :cognom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :edat, :class=>"titol_camp" %>	
		<%= u.number_field :edat, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :sexe, :class=>"titol_camp" %>	
	<span class="contingut_camp_radio">
		<%= u.radio_button(:sexe, "Dona")%>
		<%= label_tag(:sexe, "Dona") %>
		<%= u.radio_button(:sexe, "Home") %>
		<%= label_tag(:sexe, "Home") %>
	</span>
	</div>
	<div>
		<%= u.submit "Registra't", :class=>"contingut_camp_boto"  %>
	</div>
<br>
<hr>
<br>
<p> En construcció:</p>
	<div>
		<% #ciutats_array = City.all.map { |city| [city.name, city.id] } %>
		<% ciutats_array = [['Barcelona',1], ['Madrid', 2]] %>
		<%= u.label :ciutat_naixament %>	
		<% #u.select(:ciutat_naixament) %>
		<%#= options_for_select(ciutats_array) %>
		<%= select_tag(:ciutat_naixament, options_for_select(ciutats_array)) %>
	</div>

	<div>
		<%= u.label :pais_naixament %>	
		<%= u.number_field :pais_naixament %>
	</div>

	<div>
		<%= u.label :ciutat_residencia %>	
		<%= u.number_field :ciutat_residencia %>
	</div>

	<div>
		<%= u.label :pais_residencia %>	
		<%= u.number_field :pais_residencia %>

	</div>

<% end %>

    