<h2>Enregistra't!</h2>

<div id="user_nav">  
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>  
</div>

<%= form_for @usuari, :class=>"form-horizontal" do |u| %>
	<div class="control-group, <%= @usuari.errors[:nom_usuari].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :nom_usuari, :class=>"titol_camp" %>	
		<%= u.text_field :nom_usuari, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:nom_usuari].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:email].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :email, :class=>"titol_camp" %>	
		<%= u.email_field :email, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:email].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password, :class=>"titol_camp" %>	
		<%= u.password_field :password, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password].first %>
		</div>
	</div>

	<div class="<%= @usuari.errors[:password_confirmation].present? ? 'camp_amb_errors' : '' %>">
		<%= u.label :password_confirmation, :class=>"titol_camp" %>	
		<%= u.password_field :password_confirmation, :class=>"contingut_camp" %>
		<div>
			<%= @usuari.errors[:password_confirmation].first %>
		</div>
	</div>

	<div>
		<%= u.label :nom, :class=>"titol_camp" %>	
		<%= u.text_field :nom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :cognom, :class=>"titol_camp" %>	
		<%= u.text_field :cognom, :class=>"contingut_camp" %>
	</div>

	<div>
		<%= u.label :edat, :class=>"titol_camp" %>	
		<%= u.number_field :edat, :class=>"contingut_camp" %>
	</div>
	<div>
		<%= u.label "País naixament", :class=>"titol_camp" %>	
		<%= select_tag(:pais, options_from_collection_for_select(@paisos, "id", "nom"), {:class=>"contingut_camp"}) %>
	</div>

	<div>
		<%= label_tag :pais_residencia, "País residència", :class=>"titol_camp" %>	
		<%= select_tag(:pais_residencia, options_from_collection_for_select(@paisos, "id", "nom"), {:class=>"contingut_camp"}) %>

	</div>
	<div>
		<%= u.label :sexe, :class=>"titol_camp" %>	
	<span class="contingut_camp_radio">
		<%= u.radio_button(:sexe, "Dona")%>
		<%= label_tag(:sexe, "Dona") %>
		<%= u.radio_button(:sexe, "Home") %>
		<%= label_tag(:sexe, "Home") %>
	</span>
	</div>

	<%= u.text_field :coord_lat_browser %>
	<%= u.text_field :coord_lng_browser %>

	<div>
		<%= u.submit "Registra't", :class=>"contingut_camp_boto"  %>
	</div>

<% end %>


<%##= cities_array = City.all.map { |city| [city.name, city.id] } %>
<%#= options_for_select(cities_array) %>
    