<table>
 <% if @valoracions.count == 0 %>
 Sigues el primer en valorar!
 <% end %>
<% @valoracions.each do |val| %>
  <tr>
    <td><%= val.titol %></td>
    <td><%= val.punts %></td>
    <td> <%=val.usuari.nom_usuari%> </td>
    <td><%=val.created_at%></td>
  </tr>
  <tr>
    <td colspan="4"><%= val.opinio %></td>
  </tr>
<% end %>

</table>