<h5 style="background:#fffeeb;border-style:solid; border-width:1px; border-color:#fff2c6; color:#b28b00; padding:15px;" style="padding:10px;">

	<strong>Creant qüestionari de control</strong>
	<br><br>
	Per tal de controlar qui pot editar la ruta turística que acabes de crear, et demanem que creïs un qüestionari per a controlar que només puguin editar la ruta aquells usuaris que el superin.
</h5>


<%= form_for @quest, url: {controller: "questionaris", action: "create"} do |q| %>
<%= q.hidden_field :ruta_turistica_id, :value => params[:ruta_turistica_id] %>

	<h5> Pas 1 </h5>
	<i class="fa fa-chevron-circle-right"></i> Quin ranking mínim ha de tenir l'usuari editor?
	<br>
	<div style="margin-left:20px">
	<%= radio_button_tag "param_reputacio", "1", {:checked => "checked"} %> 1-Novell
	<br>
	<%= radio_button_tag "param_reputacio", "2" %> 2-Dedicat
	<br>
	<%= radio_button_tag "param_reputacio", "3" %> 3-De confiança
	<br>
	<%= radio_button_tag "param_reputacio", "4" %> 4-Aprenent de Master
	<br>
	<%= radio_button_tag "param_reputacio", "5" %> 5-Master
	</div>
	<br><br>

	<i class="fa fa-chevron-circle-right"></i> Selecciona les condicions que vols que s'apliquin:
	<br>
	<div style="margin-left:20px">
	<%= radio_button_tag "param_pais", "1", {:checked => "checked"} %> Ninguna.
	<br>
	<%= radio_button_tag "param_pais", "2" %> O el país de naixament o el de residència han de coincidir amb el de la ruta. 
	<br>
	<%= radio_button_tag "param_pais", "3" %> El país de naixament ha de coincidir amb el de la ruta.
	<br>
	<%= radio_button_tag "param_pais", "4" %> El país de residència ha de coincidir amb el de la ruta.
	</div>


	<br><br>
	<h5> Pas 2 (opcional) </h5>
	<ul style="margin-left:20px; list-style-type:none;">
		<%= q.fields_for :preguntas do |preg| %>
			<li>
				<%= render 'pregunta_fields', :f => preg %>
			</li>
		<% end %>
		<p>
			<%= link_to_add_fields "Afegir pregunta", q, :preguntas, :pregunta %>
		</p>
		
	</ul>

	<%= q.submit "Guardar" %>

<% end %>


