<%= form_for @q, url: {controller: "questionaris", action: "create"} do |q| %>
	<%#= TODO afegir radiobuttons pels paràmetres %>
	<ul>
		<li>
			<%= q.fields_for :preguntas do |preg| %>
					<%= render 'pregunta_fields', :f => preg %>
			<% end %>
			<p>
				<%= link_to_add_fields "Afegir pregunta", q, :preguntas, :pregunta %>
			</p>
		</li>
	</ul>

	<%= q.submit "Guardar" %>

<% end %>


