<!DOCTYPE html>
<html>
<head>
  <title>Dubidu - Punts d'interès i rutes turístiques</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&language=sp">
  </script>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
          <div id="capcalera" style="height:50px; width:100%; background-color:#f5f5f5;margin-bottom:20px;"> 
            <div>  
              <%= link_to "Home", {:controller => "home", :action => "index"}, {:style => "color:#858585"} %>
            </div>
            <div style="position:relative; width:150px; top:10px; left:980px;">
              <%= link_to "Enregistra't", {:controller => "usuaris", :action => "new", :method => :get}, {:style => "color:#ca1496"} %>
              <span> | </span>
              <%= link_to "Inicia sessió", {:controller => "sessions", :action => "new", :method => :get}, {:style => "color:#ca1496"} %>
            </div>
            
          </div>


          <div style="position: relative; left:100px; width:80%; margin-bottom: 40px;">
          <%= yield %>
          </div>
  </div>

  <div id="peu_de_pagina">
    <hr>
   Aqui va el peu de pàgina
  </div>
</body>
</html>
