<!DOCTYPE html>
<html>
<head>
  <title>Dubidu - Punts d'interès i rutes turístiques</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&language=sp">
  </script>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="wrap">
  <div class="container">
      <div id="capcalera" style="height:50px; width:100%; background-color:#f5f5f5;"> 
            <div style="position:relative; left:2%; top:50%; font-size:14px;"> 
              <%= link_to " Home", {:controller => "home", :action => "index"}, {:class => "link_capcalera fa fa-home"} %>
              &nbsp &nbsp
              <%= if params[:controller] == "pdis" 
                  link_to " Punts d'interès", {:controller => "pdis", :action => "index"}, {:class => "link_capcalera_pdi_active fa fa-map-marker"}
                 else
                  link_to " Punts d'interès", {:controller => "pdis", :action => "index"}, {:class => "link_capcalera_pdi fa fa-map-marker"}
                 end %>
              &nbsp &nbsp
              <%= if params[:controller] == "ruta_turisticas" 
                  link_to " Rutes turístiques", {:controller => "ruta_turisticas", :action => "index"}, {:class => "link_capcalera_rt_active fa fa-picture-o"} 
                  else
                  link_to " Rutes turístiques", {:controller => "ruta_turisticas", :action => "index"}, {:class => "link_capcalera_rt fa fa-picture-o"} 
                  end %>

            </div>
            <i class="fa fa-globe" style="position:absolute; left:48%; top:15px; font-size:30px; color:#7d7d7d"></i>
           <!-- <img src="/Users/Maria/Downloads/cartoon_french_bulldog_photo_sculptures-r5686689c8fa540a09ae706e77a301f60_x7sai_8byvr_512.jpg" alt="rss feed"  style="position:absolute; left:48%; top:15px;" /> -->
           <div style="position:absolute; left:79%; top:25px;">
            <% if usuari_actual.nil? %>
              <div id="no_loguejat">
                <%= link_to "Enregistra't", {:controller => "usuaris", :action => "new", :method => :get}, {:style => "color:#ca1496"} %>
                <span> | </span>
                <%= link_to "Inicia sessió", {:controller => "sessions", :action => "new", :method => :get}, {:style => "color:#ca1496"} %>
              </div>
            <% else %>
              <div id="loguejat">
                  <i class="fa fa-user" style="color:#ca1496"></i>
                    <%= link_to usuari_actual.nom_usuari, usuari_path(usuari_actual), {:style => "color:#ca1496"} %>
                    <span> | </span>
                    <%= link_to "Tanca sessió", {:controller => "sessions", :action => "destroy", :method => :delete}, {:style => "color:#ca1496"} %>
               </div>
            <% end %>
          </div>
      </div>


          <div style="position: relative; left:100px; width:80%;">
          <%= yield %>

          </div>

  </div>
</div>

  <div id="footer" class="container" style="margin-top:70px;">
    <div class="container">
    <p class="text-muted" style="padding:10px;">
      Disseny i desenvolupament per Maria Vidal - Treball Final de Grau - 2014
    </p>
  </div>
</div>

</body>
</html>
