<!DOCTYPE html>
<html>
<head>
  <title>Dubidu - PoI i rutes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&language=sp">
  </script>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div style="height:50px; width:100%; background-color:#f5f5f5;"> 
	<div style="position:relative; left:400px; top:10px;">
    <%= render :partial => '/layouts/cercador' %>
  </div>
  <div style="position:relative; left:1070px; top:-22px;">
    <%= link_to "Enregistra't", {:controller => "usuaris", :action => "new", :method => :get}, {:style => "color:#14caa3"} %>
    <span> | </span>
    <%= link_to "Inicia sessió", {:controller => "sessions", :action => "new", :method => :get}, {:style => "color:#14caa3"} %>
  </div>
  
</div>




<div style="position: relative; left:200px; width:70%;">
<%= yield %>
</div>
</body>
</html>
